<details class="module-group" id="details-cat-{{ categoria.id }}"> 
    <summary class="module-card"> 
        {{ categoria.nome|upper }} <span class="arrow"></span> 
    </summary>
    <div class="module-list">
        {% for sub in categoria.subcategorias.all|dictsort:"nome" %}
            {% include "artigos/lista_categorias.html" with categoria=sub %}
        {% endfor %}

        {% for art in categoria.artigo_set.all|dictsort:"titulo" %}
             <a href="#" 
                id="link-artigo-{{ art.id }}"
                hx-get="{% url 'detalhe_artigo' art.id %}" 
                hx-target="#conteudo-direito"
                hx-swap="innerHTML"
                class="article-link {% if artigo and artigo.id == art.id %}active-link{% endif %}">
                {{ art.titulo }}
             </a>
        {% endfor %}
    </div>
</details>